/*============== Variables ================*/
/*============== Classes ================*/
/*---- Colors ----*/
.bg-charcoal {
  background-color: #454748; }

.bg-aqua {
  background-color: #44be9f; }

.bg-light-grey, body {
  background-color: #e2eceb; }

.bg-white {
  background-color: #ffffff; }

.text-white {
  color: #ffffff; }

.text-aqua, li.aqua-bullets:before {
  color: #44be9f; }

.text-blue-green, h3.emphasize, h4.cv {
  color: #66bccc; }

/*---------------------*/
.hero {
  background: url(../img/pipes-pattern.svg) no-repeat center center;
  background-size: cover;
  background-color: #579ca7; }

.rounded {
  border-radius: 10px; }

.center {
  text-align: center; }

.contact-me input,
textarea,
a {
  margin-top: 15px; }

.contact-box {
  max-width: 500px;
  padding: 20px; }

.contact-me input, textarea {
  border: 1px solid #b5c4c6;
  border-radius: 5px; }

.statement p:first-of-type {
  margin-top: 20px; }

.contact-me input, textarea {
  height: 35px;
  min-width: 425px; }

.contact-me textarea {
  margin-bottom: 15px;
  height: 300px; }

.contact-thanks {
  padding-top: 300px;
  padding-bottom: 400px;
  margin-top: -4px;
  margin-bottom: -15px;
  height: 850px; }

/*-------Resume---------*/
section.page {
  overflow: hidden;
  margin: 50px auto;
  padding: 20px;
  border-radius: 3px;
  box-sizing: border-box;
  -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2), inset 0 0 10px rgba(0, 0, 0, 0.03);
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2), inset 0 0 10px rgba(0, 0, 0, 0.03);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2), inset 0 0 10px rgba(0, 0, 0, 0.03); }

/*	section.container {
		width: 50%;
	}*/
.wrap {
  border-bottom: 1px solid #e2eceb;
  padding-top: 20px; }

.left-border {
  border-left: 1px solid #e2eceb; }

.wrap:last-of-type {
  border-bottom: none; }

ul.aqua-bullets {
  list-style: none;
  padding: 0;
  margin: 0; }

li.aqua-bullets {
  padding-left: 1em;
  text-indent: -.7em; }

li.aqua-bullets:before {
  content: "\2022 "; }

.aqua-bullets span {
  position: relative;
  left: 8px;
  left: 8px;
  left: 0.5rem; }

li.skills:before {
  content: "\2713"; }

/*--------------------------*/
@media (max-width: 1025px) {
  .left-border {
    border-left: none; } }
@media (min-width: 319px) and (max-width: 567px) {
  .contact-me input, .contact-me textarea {
    min-width: 200px; }

  .contact-me textarea {
    height: 200px; }

  h2 {
    font-size: 1.75em; }

  h3 {
    font-size: 1.25em; }

  .hero p {
    font-size: 1.59em; }

  .statement p {
    font-size: 1.25em; }

  .about h2, .about h3 {
    text-align: center; }

  .about p {
    font-size: 1em; }

  .contact-thanks {
    height: 650px;
    padding-top: 200px;
    padding-bottom: 200px; }

  /*		section.container {
  		width: 90%;
  	}*/ }
/*-----------------Base Styles-------------*/
body {
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px; }

.cv li {
  margin-top: 8px;
  margin-top: 0.5rem; }

.cv p,
.cv ul {
  margin-bottom: 8px;
  margin-bottom: 0.5rem; }

/*--------- Container ------------*/
.container {
  padding-top: 45px;
  padding-bottom: 45px; }

/*---------Header------------*/
header {
  padding-top: 10px;
  padding-bottom: 10px; }

/*--------- Footer ------------*/
footer {
  padding: 15px;
  margin-top: 15px; }

/*------ Typography ------*/
h2 {
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  font-size: 2.250em;
  color: #3ca995; }

h3.emphasize {
  font-family: 'Fira Sans', sans-serif;
  font-style: italic; }

.hero p,
h1.cv,
h4.cv {
  font-family: 'Roboto Slab', serif; }

h3.cv,
h5.cv,
.cv p,
.cv li,
.cv h6 {
  font-family: 'PT Sans', sans-serif; }

h3.cv {
  font-weight: 100;
  font-size: 20px;
  font-size: 1.25rem;
  margin-top: -15px;
  margin-top: -0.9375rem;
  margin-bottom: 8px;
  margin-bottom: 0.5rem; }

h4.cv {
  font-size: 20px;
  font-size: 1.25rem; }

.cv h4:nth-of-type(2) {
  margin-top: 0px;
  margin-top: 0rem;
  color: red; }

h5.cv {
  font-size: 16px;
  font-size: 1rem;
  font-weight: 600; }

.hero p {
  font-size: 2.250em; }

.statement p {
  font-family: 'Fira Sans', sans-serif;
  font-size: 1.500em; }

.statement span {
  font-family: 'Roboto Slab', serif;
  font-weight: bold; }

.about p {
  font-family: 'Fira Sans', sans-serif;
  font-size: 1.375em;
  line-height: 1.750em; }

footer p {
  font-family: 'Fira Sans', sans-serif;
  font-size: 1.000em;
  margin-top: 15px; }

.cv p,
.cv li,
li.aqua-bullets:before,
.cv h6 {
  font-size: 16px;
  font-size: 1rem; }

.cv h6 {
  margin-top: -4.8px;
  margin-top: -0.3rem; }

/*------- Buttons ------ */
.submit-button input {
  font-family: 'Fira Sans', sans-serif;
  font-size: 1.375em;
  height: 50px;
  min-width: 200px;
  box-shadow: 0px 3px 0 #43a088;
  border: none; }

.submit-button input:hover {
  background-color: #3dab8f; }

/*------- Icons ------ */
.social-buttons {
  max-width: 90px; }

.social-buttons img {
  opacity: 1;
  transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
  -moz-webkit-transition: all .5s ease-in-out;
  -ms-webkit-transition: all .5s ease-in-out;
  -o-webkit-transition: all .5s ease-in-out; }

.social-buttons img:hover {
  opacity: .7; }

/*# sourceMappingURL=custom.css.map */
