/*---------Header------------*/

.header-section {
  -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.4);
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.4);
  position: fixed;
  z-index: 999;
  min-width: 100%;
}

.contain-to-grid {
  background-color: rgba(255, 255, 255, 0.97);
}

.header-fill {
  height: 135px;
  .tablet-mobile-logo img {
      padding-top: 30px;
	}
}

.top-bar,
.top-bar-section ul li,
.top-bar-section li:not(.has-form) a:not(.button) {
	background: none;
}

.top-bar ul li a {
	background: transparent !important;
}
.top-bar .title-area {
	@include rem-fallback(padding-left, 2.5);
}

.top-bar.expanded .title-area {
	background: none;
}

.top-bar {
	padding: 45px 0.9375rem 90px 0.9375rem;
	transition: all 0.3s ease 0.1s;

}

.padding-on-my-header {
  padding: 17px 0.9375rem 62px 0.9375rem;
  ul.title-area img {
      @include rem-fallback(margin-top, -0.3125);
  }
}

.logo-image-big {
  content: "";
  background: url("/img/flip-campbell-logo.svg") no-repeat center center;
  background-size: cover;
  @include rem-fallback(width, 18);
  // width: 222px;
  @include rem-fallback(height, 6.75);
  // height: 184px;
  @include rem-fallback(margin-top, -1.375);
  @include rem-fallback(margin-left, -5);
}

.logo-image-small {
  @extend .logo-image-big;
  // content: "";
  // background: url("/img/flip-campbell-logo.svg") no-repeat center center;
  // width: 56px;
  @include rem-fallback(width, 10);
  @include rem-fallback(height, 10);
  // height: 46px;
  @include rem-fallback(margin-top, -3.25);
  @include rem-fallback(margin-left, -2.5);
}

// Uncomment below if you use 'MENU' rather than hamburger icon
// .top-bar.expanded .toggle-topbar a {
//   color: $color-white;
//   opacity: 0.5;
// }

@media only screen and (max-width: 640px) {
	.top-bar,
	.top-bar .title-area {
		margin-top: 0;
		padding: 0;
		float: none;
		ul.title-area div {
			margin: -1px 0px 4px -32px;
		}
	}
	.top-bar .padding-on-my-header ul.title-area img {
    margin: 5px 13px 0;
    width: 35px;
  }
	.header-fill {
		height: 35px;
	}
  #logo-image {
    // content: "";
    // background: url("/img/flip-campbell-logo-small.png");
    @include rem-fallback(width, 7.8125);
    // width: 56px;
    @include rem-fallback(height, 3.4375);

    // height: 46px;
  }
}
//
// @media
// (-webkit-min-device-pixel-ratio: 2),
// (min-resolution: 192dpi) {
//   content: "";
//   background: url("/img/flip-campbell-logo-small@2x.png");
//   width: 56px;
//   height: 46px;
// }
