/*---------Header------------*/

.header-section {
  -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.4);
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.4);
  position: fixed;
  z-index: 999;
  min-width: 100%;
}

.contain-to-grid {
  background-color: rgba(255, 255, 255, 0.97);
}

.header-fill {
  // background: #fff;
  height: 135px;
  .tablet-mobile-logo img {
      padding-top: 30px;
	}
}

.top-bar,
.top-bar-section ul li,
.top-bar-section li:not(.has-form) a:not(.button) {
	background: none;
}

.top-bar ul li a {
	background: transparent !important;
}
.top-bar .title-area {
	@include rem-fallback(padding-left, 2.5);
}

.top-bar.expanded .title-area {
	background: none;
}

.top-bar {
	padding: 45px 0.9375rem 90px 0.9375rem;
	transition: all 0.3s ease 0.1s;

}

.padding-on-my-header {
  padding: 17px 0.9375rem 62px 0.9375rem;
  ul.title-area img {
      @include rem-fallback(margin-top, -0.3125);
  }
}

.logo-image-big {
  content: "";
  background: url("/img/flip-campbell-logo.png");
  width: 111px;
  height: 92px;
  @include rem-fallback(margin-top, -1.5625);
}

.logo-image-small {
  content: "";
  background: url("/img/flip-campbell-logo-small.png");
  width: 56px;
  height: 46px;
  @include rem-fallback(margin-top, 0);
}

@media only screen and (max-width: 640px) {
	.top-bar,
	.top-bar .title-area {
		margin-top: 0;
		padding: 0;
		float: none;
		ul.title-area div {
			margin: -1px 4px 5px;
		}
	}
	.top-bar .padding-on-my-header ul.title-area img {
    margin: 5px 13px 0;
    width: 35px;
  }
	.header-fill {
		height: 35px;
	}
  #logo-image {
    content: "";
    background: url("/img/flip-campbell-logo-small.png");
    width: 56px;
    height: 46px;
  }
}
