/*------- Buttons ------ */

.submit-button input {
	font-family: 'Fira Sans', sans-serif;
	font-size: 1.375em;
	height: 50px;
	min-width: 200px;
}

.submit-button input:hover {
	background-color: #3dab8f !important;
}

.submit-button input,
.button-xl {
	box-shadow: 0px 3px 0 #43a088;
	border: none;
	&:hover {
		background-color: #3dab8f !important;
	}
}

.button-xl {
	@include rem-fallback(padding, 1.125, 4.25, 1.1875, 4.25);
	@media screen and (max-width: 1024px) {
		@include rem-fallback(margin-top, 2);
	}
}
