/*------ Typography ------*/
h2 {
	font-family: 'Roboto Slab', serif;
	font-size: 2.250em;
	color: #3ca995;
}


h3.emphasize {
	font-family: 'Fira Sans', sans-serif;
	font-style: italic;
	@extend .text-blue-green
}

.hero p,
h1.cv,
.work h3,
h4.cv {
	font-family: 'Roboto Slab', serif;
}

h3.cv,
h5.cv,
.cv p,
.cv li,
.cv h6,
.gallery h4,
.button-xl,
.work h4 {
	font-family: 'PT Sans', sans-serif;
}

.top-bar-section ul li > a {
	@include rem-fallback(letter-spacing, .15);
	&:hover {
		text-decoration: underline;
	}
}

.top-bar-section li:not(.has-form) a:not(.button) {
	@include rem-fallback(padding-right, 1);
}

h3.cv{
	font-weight: 100;
	@include rem-fallback(font-size, 1.25);
	@include rem-fallback(margin-top, -0.9375);
	@include rem-fallback(margin-bottom, 0.5);
}

h4.cv {
	@extend .text-blue-green;
	@include rem-fallback(font-size, 1.25);
}

.cv h4:nth-of-type(2) {
	@include rem-fallback(margin-top, 0);
	color: red;
}

h5.cv {
	@include rem-fallback(font-size, 1);
}

.top-bar-section ul li > a {
	@include rem-fallback(font-size, 1.125);
}

.gallery h4,
h5.cv,
.credit {
	font-weight: 600
}

.hero p {
	font-size: 2.250em;
}

.gallery h5,
.statement p,
.about p,
footer p,
.top-bar-section ul li > a,
.work p {
	font-family: 'Fira Sans', sans-serif;
}

.statement p {
	font-size: 1.500em;
}

.statement span,
.gallery h3 {
	font-family: 'Roboto Slab', serif;
}

.about p {
	line-height: 1.750em;
}


.about p {
	@include rem-fallback(font-size, 1.375);
}

.gallery h5 {
	@include rem-fallback(font-size, 1.15);
}

footer p {
	font-size: 1.000em;
	margin-top: 15px;
}


.cv p,
.cv li,
li.aqua-bullets:before,
.cv h6 {
	@include rem-fallback(font-size, 1);
}

.cv h6 {
	@include rem-fallback(margin-top, -0.3);
}
