/*------ Typography ------*/
h2 {
	font-family: 'Roboto Slab', serif;
	font-weight: bold;
	font-size: 2.250em;
	color: #3ca995;
}

h3.emphasize {
	font-family: 'Fira Sans', sans-serif;
	font-style: italic;
	@extend .text-blue-green
}

.hero p,
h1.cv,
h4.cv {
	font-family: 'Roboto Slab', serif;	
}

h3.cv,
h5.cv,
.cv p,
.cv li,
.cv h6 {
	font-family: 'PT Sans', sans-serif;
}

h3.cv{
	font-weight: 100;
	@include rem-fallback(font-size, 1.25);
	@include rem-fallback(margin-top, -0.9375);
	@include rem-fallback(margin-bottom, 0.5);
}

h4.cv {
	@extend .text-blue-green;
	@include rem-fallback(font-size, 1.25);
	// @include rem-fallback(margin-top, 1);
}

.cv h4:nth-of-type(2) {
	@include rem-fallback(margin-top, 0);
	color: red;
}

h5.cv {
	@include rem-fallback(font-size, 1);
	font-weight: 600;
}

.hero p {
	font-size: 2.250em;
}

.statement p {
	font-family: 'Fira Sans', sans-serif;
	font-size: 1.500em;
}

.statement span {
	font-family: 'Roboto Slab', serif;
	font-weight: bold; 
}

.about p {
	font-family: 'Fira Sans', sans-serif;
	font-size: 1.375em;
	line-height: 1.750em;
}

footer p {
	font-family: 'Fira Sans', sans-serif;
	font-size: 1.000em;
	margin-top: 15px;
}


.cv p,
.cv li,
li.aqua-bullets:before,
.cv h6 {
	@include rem-fallback(font-size, 0.875);
}

.cv h6 {
	@include rem-fallback(margin-top, -0.3);
}